# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yqumzqcokyggpjdakddj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxdW16cWNva3lnZ3BqZGFrZGRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4ODA3NDcsImV4cCI6MjA5MjQ1Njc0N30.y9HmCWNYES4WOZHVGXc0j6nuv3to4KX7sDT6DkfCf5w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxdW16cWNva3lnZ3BqZGFrZGRqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg4MDc0NywiZXhwIjoyMDkyNDU2NzQ3fQ.TOsAmSLs-AYl5rjSc3uUE-lURPg0_Bd9WKi-fdLtRm0

# Resend (alternativo a configurar desde la UI)
RESEND_API_KEY=re_bT4oU97L_87Hys8nmSpMzoeC1dN9SUNs1
FROM_EMAIL=guerrafelipe93@gmail.com
FROM_NAME=MailerApp
